<h1> <%= @island.name %> </h1>

<br>
<% if policy(@island).edit? %>
  <%= link_to "Edit", edit_island_path(@island) %>
<% end %>
<br>
<% if policy(@island).destroy? %>
  <%= link_to "Delete", island_path(@island), method: :delete %>
<% end %>
<br>
<%= link_to "Back", islands_path %>
