<h1>New Booking</h1>

<%= simple_form_for([@island, @booking]) do |f| %>

  <div class="form-inputs">
    <%= f.date :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
