<div class="banner-island" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/BnzZcGnS3sBl6/giphy.gif);">
  <div class="container">
    <h3> Choose your adventure </h3>
  </div>
</div>
