<div class="banner-island d-flex align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.giphy.com/media/BnzZcGnS3sBl6/giphy.gif);">
  <div class="container">
    <h1> Choose your pain </h1>
  </div>
</div>
