<div class="footer">
  <div class="footer-links">
  <ul class="align-content-center">
    <li class="ml-3">Meet the team:</li>
    <a href="https://github.com/AxelResnik" target="_blank"><i class="fas fa-beer"></i></a>
    <a href="https://github.com/codeMelech" target="_blank"><i class="fas fa-ship"></i></a>
    <a href="https://github.com/Ilansz" target="_blank"><i class="fas fa-skull-crossbones"></i></a>
    </ul>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fas fa-futbol"></i> at Le Wagon
  </div>
</div>
