<div class="footer">
  <div class="footer-links pl-4">
    <ul class="align-content-center">
      <li class="ml-3">Meet the team:</li>
      <span data-toggle="tooltip" data-placement="left" title="Axel Resnik">
        <a href="https://github.com/AxelResnik" target="_blank"><i class="fas fa-beer"></i></a></span>
        <span data-toggle="tooltip" data-placement="left" title="Ben Attali">
        <a href="https://github.com/codeMelech" target="_blank"><i class="fas fa-ship"></i></a></span>
        <span data-toggle="tooltip" data-placement="left" title="Ilan Sz">
        <a href="https://github.com/Ilansz" target="_blank"><i class="fas fa-skull-crossbones"></i></a></span>
      </ul>
    </div>
  <div class="footer-copyright">
    This page is made with <i class="fas fa-futbol"></i> at Le Wagon
  </div>
</div>
