<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://static.asiawebdirect.com/m/phuket/portals/krabi-hotels-com/homepage/koh-lanta/pagePropertiesImage/koh-lanta.jpg.jpg); margin-top: -15px;">
  <div class="container">
    <h1>Change your <strong>holidays</strong> !</h1>
    <p>You will spend your vacatoins in a way you've never imagined possible.</p>
    <!-- <a class="btn btn-outline-light" href="">Show</a> -->
    <%= link_to "Show the islands", islands_path, class:"btn btn-outline-light" %>
  </div>
</div>




<div class=""  style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
  <h5>Think outside the box, do something new!</h5>
</div>

<div class="img-holder" data-image="https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
  <!-- <img src="https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""> -->
</div>
<section><h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Get ready for a new adventure!</h5></section>

<div class="img-holder" data-image="https://images.unsplash.com/photo-1470506926202-05d3fca84c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">text
</div>

<section><h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Have the experience of your life</h5></section>

<div class="img-holder" data-image="https://images.unsplash.com/photo-1474452926969-af7bfdb9ca39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">[optional content to be displayed on top of the images]
</div>



