<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://static.asiawebdirect.com/m/phuket/portals/krabi-hotels-com/homepage/koh-lanta/pagePropertiesImage/koh-lanta.jpg.jpg);">
  <div class="container">
    <h1>Change your <strong>holidays</strong> !</h1>
    <p>You will spend your vacatoins in a way you've never imagined possible.</p>
    <!-- <a class="btn btn-outline-light" href="">Show</a> -->
    <%= link_to "Show the islands", islands_path, class:"btn btn-outline-light" %>
  </div>
</div>
