<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://static.asiawebdirect.com/m/phuket/portals/krabi-hotels-com/homepage/koh-lanta/pagePropertiesImage/koh-lanta.jpg.jpg); margin-top: -15px;">
  <div class="container">
    <h1>Change your <strong>holidays</strong> !</h1>
    <p>You will spend your vacatoins in a way you've never imagined possible.</p>
    <!-- <a class="btn btn-outline-light" href="">Show</a> -->
    <%= link_to "Show the islands", islands_path, class:"btn btn-outline-light" %>
  </div>
</div>

<div class="container">
  <div class="step-01 d-flex justify-content-end mt-5 border p-2">
    <div style="margin-right: 140px; margin-top: 110px;">
      <h2 style="text-align: center;"><strong>Step 1:</strong></h2>
      <h5>Think outside the box, do something new!</h5>
    </div>
  <img id="img-step-01" src="https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="map">
  </div>
</div>

<div class="container">
  <div class="step-02 d-flex justify-content-start mt-5 border p-2">
  <img id="img-step-01" src="https://images.unsplash.com/photo-1470506926202-05d3fca84c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="map">
    <div style="margin-left: 140px; margin-top: 110px;">
      <h2 style="text-align: center;"><strong>Step 2:</strong></h2>
      <h5>Get ready for a new adventure!</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="step-03 d-flex justify-content-end mt-5 border p-2">
    <div style="margin-right: 140px; margin-top: 110px;">
      <h2 style="text-align: center;"><strong>Step 3:</strong></h2>
      <h5>Have the experience of your life</h5>
    </div>
  <img id="img-step-01" src="https://images.unsplash.com/photo-1474452926969-af7bfdb9ca39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="map">
  </div>
</div>

