<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1545153996-16c1df09d5ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80); margin-top: -15px;">
  <div class="container">
    <h1> Do something <strong>extraordinary</strong> </h1>
    <p> Find the booty with ye hearties! </p>
    <!-- <a class="btn btn-outline-light" href="">Show</a> -->
    <%= link_to "Show the islands", islands_path, class:"btn btn-outline-light" %>
  </div>
</div>




<div class=""  style="text-align: center; padding-top: 30px; padding-bottom: 30px;">
  <h5> All hands hoay </h5>
</div>

<div class="img-holder" data-image="https://cdn.pixabay.com/photo/2014/10/18/07/08/shield-492989_960_720.jpg">
</div>
<section><h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;">Get ready for a new adventure!</h5></section>

<div class="img-holder" data-image="https://images.unsplash.com/photo-1470506926202-05d3fca84c9a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">text
</div>

<section><h5 style="text-align: center; padding-top: 30px; padding-bottom: 30px;"> "Not all treasure is silver and gold, mate" --- Jack Sparrow</h5></section>

<div class="img-holder" data-image="https://images.unsplash.com/photo-1474452926969-af7bfdb9ca39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">[optional content to be displayed on top of the images]
</div>



