.footer {
  background: #F9F9F9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 2px solid #f5f5f5;
    width: 100vw;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-futbol {
  color: black;
}

.footer .fa-ship {
  color: #2d72e2;
}

.footer .fa-beer {
  color: #f1a507;
}

.footer .fa-skull-crossbones {
  color: gray;
}

ul {
 list-style-type: none;
}

.footer-margin {
  height: 100px;
}
